*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: calc(1rem / 0.42);
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

@font-face {
    font-family: 'Norse Bold';
    src: url(./fonts/Norse-Bold.otf);
}

html {
    font-family: "Montserrat", sans-serif;
}


.container {
    display: flex;
    justify-content: space-evenly
}

.left {
    width: 35vw;
    z-index: 1;
    height: 100%;
}

#bg-img {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.right {
    width: 65vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-bg {
    height: 100px;
    background-color: whitesmoke;
    width: 35vw;
    z-index: 1;
    position: absolute;
    top: 30vh;
    opacity: 20%;
}

#logo {
    z-index: 1;
    margin: 0 80px 0 100px;
    position: absolute;
    top: 30vh;
    height: 100px;
}

#logo-txt {
            z-index: 1;
            margin: 0 220px;
            position: absolute;
            top: 31.5vh;
            height: 150px;
           color: white;
           font-size: 48px;
           font-weight: bolder;
           text-align: center;
           -webkit-text-stroke: 0.5px #467481;
           font-family: 'Norse Bold', sans-serif;
}


.right > div {
    padding: 20px 0 0 20px;
    margin: 20px 0;
}

#hero {
    padding-top: 50px;
    width: 50vw;
}

.form-container {
    background-color: rgb(235, 231, 231);
    height: 38vh;
    width: 100%;
    box-shadow: 0px 8px 5px 2px #7d858a93;
    font-weight: bolder;
    margin-top: 20px;
    border: 0.1px solid black;
}

label, input {
    display: block
}

form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 150px;
    margin-top: 5px;
    gap: 5px;
    align-items: flex-start;
    margin-left: -20px;
}

input {
    height: 25px;
    border: 1px solid #E0D8DE;
}

.right-input {
    margin-left: 200px;
}

.form-group {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
}

h3, h4 {
    font-size: 1.4rem;
}

label {
    font-size: 1.1rem;
}

button {
    background-color: #467481;
    border: 1px solid #134e5e;
    color: white;
    padding: 5px 60px;
    border-radius: 10px;
}

.form-end {
    margin-top: 70px;
    margin-left: 30px;
}

.form-end h5 {
    color: black;
    position: fixed;
    font-size: 1.1rem;
}

.login {
    color: #467481;
    -webkit-text-stroke: 0.3px black;
    letter-spacing: 1.1px;
}

.login:hover {
    text-decoration: underline;
    text-decoration-color: #4c808f;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    padding: 6px 61px 4px 61px;
    box-shadow: 1px 1px 1px 1px #467481;
}

.right > div¬ {
    margin-left: 20px;
}

input[type="password"]:invalid, .invalid, .invalid:focus {
    border-color: red;
    box-shadow: 2px 2px 2px red inset;
    outline: none;
}

input:focus {
    outline-color: none;
    border: 1px solid #467481;
    box-shadow: 2px 2px 2px #134e5e inset;
}

